@import url('variaveis.css');

.principal{
    display: flex;
    width: 100vw;
    margin: 100px;
    gap: 20px;
    justify-content: center;
}

.container{
    border: 3px solid red;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    padding: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    transition: .5s;
    text-align: center;
}

.container:hover {
    transform: scale(1.1);
}

.container2 {
    background-color: var(--main-bg-color);
    padding: 30px;
}

legend{
    background-color: var(--main-bg-color);
    border: 3px solid red;
    border-radius: 5px;
    padding: 10px;
}

label{
    margin: 5px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.finish{
    margin-top: 150px;
    padding: 15px;
    background: #000;
    color: aliceblue;
    border-radius: 10px;
}
